.smain
  .smain__box
    %h2.text_aline 新規登録ページ
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .smain__box__text
        = f.label :nickname
        %br/
        = f.text_field :nickname, autofocus: true, maxlength: "6",class:"smain__box__text__field"
      .smain__box__text
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",class:"smain__box__text__field"
      .smain__box__text
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password",class:"smain__box__text__field"
      .smain__box__text
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password",class:"smain__box__text__field"
      .smain__box__text
        = f.submit "登録する",class:"smain__box__text__submit"
    = render "devise/shared/links"
