.header
  .header__image
    .header__image__logo
      = link_to 'MLBNETWORK',root_path,class:'mlb'
    .header__image__form
      = link_to "編集する","/tweets/#{@tweet.id}/edit",class:'link'
      = link_to "削除する","/tweets/#{@tweet.id}", method: :delete,class:'link'