.header
  = render 'players/header'

.tmain
  .tmain__title 最新の投稿
  .tmain__box
    -if @tweets
      -@tweets.each do |t|
        .tmain__box__tweet
          = link_to "/tweets/#{t.id}",class: "show__link" do
            .tmain__box__tweet__image
              = image_tag t.image.to_s,size: "109x100", alt: "test"
            .tmain__box__tweet__text 
              = t.name
              = link_to 'もっと見る＞',"/tweets/#{t.id}",class: 'tmain__box__tweet__text__link' 
            =link_to root_path, class:"tmain__box__tweet__name" do
              %i.fa.fa-smile-o
              .tmain__box__tweet__name__link
              = t.user.nickname
  .pmain
    .pmain__title
      MLB情報
    %ul.slider
      %li
        = image_tag "/stadium.jpeg",class:"slider__image"
      %li
        = image_tag '/groub.jpeg',class:"slider__image"
    .pmain__sidebar
      .pmain__sidebar__menu
        .pmain__sidebar__menu__title.menu-title
          MLB球団
        .pmain__sidebar__menu__list.scroll-american
          = link_to "アメリカンリーグ",root_path,class:"pmain__sidebar__menu__list__link"            
        .pmain__sidebar__menu__list.scroll-nasyonal
          = link_to "ナショナルリーグ",root_path,class:"pmain__sidebar__menu__list__link"
        .pmain__sidebar__menu__title.menu-title
          個人成績
        .pmain__sidebar__menu__player
          =link_to "野手",root_path,class:"pmain__sidebar__menu__player__link"
          ・
          =link_to "投手",root_path,class:"pmain__sidebar__menu__player__link"
      .pmain__sidebar__article
        .pmain__sidebar__article__title.menu-title
          .pmain__sidebar__article__title__season
            2020シーズン
            .pmain__sidebar__article__title__season__point
              注目ポイント！！


              