.header
  = render 'players/header'

.tmain
  .tmain__title 最新の投稿
  .tmain__box
    -if @tweets
      -@tweets.each do |t|
        .tmain__box__tweet
          .tmain__box__tweet__image
            = image_tag t.image.to_s,size: "109x100", alt: "test"
          .tmain__box__tweet__text 
            = t.name
            = link_to 'もっと見る＞',"/tweets/#{t.id}",class: 'tmain__box__tweet__text__link' 
          .tmain__box__tweet__name 
