.header
  = render 'header_show'
.umain
  .umain__title
  .umain__box
    .umain__box__image
      = image_tag @tweet.image.to_s,size: '400x800'
    .umain__box__text
      .umain__box__text__title
        =@tweet.name
      .umain__box__text__content
        =simple_format @tweet.text
      .umain__box__text__name
        .umain__box__text__name__person 投稿者
        .umain__box__text__name__nickname
          =link_to @tweet.user.nickname,root_path,class:"umain__box__text__name__nickname__link"
  .umain__comment
    -if current_user
      .umain__comment__field
        = form_for([@tweet, @comment]) do |f|
          = f.text_area :text,placeholder: "コメントする",class: "umain__comment__field__text"
          = f.submit "送信する",class:"umain__comment__field__submit"
    - else
      .umain__comment__nouser
        %strong.umain__comment__nouser__text
          ※※※ コメントの投稿には新規登録/ログインが必要です ※※※ 
    .umain__comment__title
      .umain__comment__title__text
        コメント一覧
      -if @comments
        - @comments.each do |comment|
          .umain__comment__title__content
            .umain__comment__title__content__name
              =link_to comment.user.nickname, "/users/#{comment.user_id}" 
            .umain__comment__title__content__message
              = comment.text






